@font-face {
  font-family: gothic;
  src: url('../fonts/gothic.eot?') format('eot'), 
  url('../fonts/gothic.woff') format('woff'),
  url('../fonts/gothic.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/gothic.ttf') format('truetype');
}

 @mixin res($media) {
  @if $media == s {
    @media (max-width: 480px) { @content; }
  }
  @else if $media == m {
    @media (min-width: 481px) and (max-width: 767px) { @content; }
  }
  @if $media == s-m {
    @media (max-width: 767px) { @content; }
  }
  @if $media == l {
    @media (min-width: 768px) and (max-width: 900px) { @content; }
  }
}

/**********  mixin  ********/

@mixin width(){
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
}

/**********  colors  ********/

$default: #202020;
$yellow: #ffc221;
$blue: #46C2D2;
$light-blue: #31919E;

/**********  global css  ********/

a, a:link, a:visited{
  text-decoration: none;
  outline: 0;
}

textarea:focus, input:focus{
    outline: 0;
}

*:focus {
    outline: 0;
    outline-style:none;
    outline-width:0;
}

body{
    font-size: 15px;
    line-height: 28px;
    font-family: 'gothic', arial;  
    color: $default;
}

#page{
  @include width();
}

#main{
  padding-top: 0px;
  background-color: #fafafa;
}

#page-title{
  margin-top: 123px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 12px;
  text-transform: uppercase;
}

#content{
  padding: 0;
}

.block{
  margin-bottom: 0;
}

.field-collection-view {
    border: none;
    margin: 0;
    padding: 0;
}

.field-collection-container {
    border: none;
    margin: 0;
}
/**********  header **********/

.logo-wrapper{
  width: 100%;
  text-align: center;
  margin-top: 35px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  #logo{
    float: none;
  }
}

.scroll .logo-wrapper{
  margin-top: 13px;
  #logo{
    height: 30px;
    overflow: hidden;
    display: block;
  }
}

#header{
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
}

.scroll #header{
  height: 65px;
  background-color: $blue;
  z-index: 100;
}
/********* menu  **********/

#navigation{
  margin-right: -100%;
  height: 100%;
  position: fixed;
  right: 0;
  width: 300px;
  background-color: $blue;
  z-index: 200;
  padding-top: 60px;
  padding-left: 50px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  li{
    width: 100%;
    margin-bottom: 20px;
  }
  a{
    color: #fff;
    text-transform: uppercase;
  }
}

.display-menu #navigation{
  margin-right: 0;
}

.menu-wrapper{
  overflow: hidden;
  float: right;
  z-index: 300;
  cursor: pointer;
  top: 23px;
  height: 20px;
  width: 100%;
  position: fixed;
  right: 0;
  .menu-button{
    @include width();
  }
  .lines{
    float: right;
    margin-right: 100px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    height: 20px;
  }
  span{
    width: 20px;
    height: 2px;
    margin-bottom: 4px;
    background-color: #fff;
    display: block;  
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
}

.display-menu .menu-button{
  color: #fff;
  width: 100%;
  span{
    margin: 0;
    background-color: #fff;
  }
  .lines{
    margin-right: 0px;
  }
  .line1{
    transform: rotate(45deg);
    -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    margin-top: 8px;
  }
  .line2{
    display: none;
  }
  .line3{
    margin-top: -2px;
    transform: rotate(135deg);
    -ms-transform: rotate(135deg); 
    -webkit-transform: rotate(135deg); 
  }
}

/*********  footer  ***************/

.wrapper-footer{
  background-color: $light-blue;
  color: #fff;
  padding: 100px 0;
  #footer{
    @include width();
    width: 1020px;
  }
  .block-title{
    font-size: 16px;
    letter-spacing: 6px;
    text-transform: uppercase;
  }
  p{
    margin: 0;
  }
}


#block-weather-system-1{
  float: left;
  width: 30%;
  margin-right: 5%;
  .temperature{
    font-size: 25px;
    margin-top: 20px;
    span:nth-child(1){
      font-weight: bold;
    }
  }
}

#block-bean-social-link-block{
  float: left;
  width: 30%;
  margin-right: 5%;
  .field-items{
    clear: left;
  }
  .field-item{
    float: left;
    margin-right: 20px;
  }  
  .field-name-field-social-text{
    margin-bottom: 20px;
    overflow: hidden;
  }
}

#block-mailchimp-signup-signup-for-newsletter{
  position: relative;
  width: 30%;
  float: right;
  input.form-text{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 3px 0 0 3px;
    width: 85%;
    float: left;
    height: 40px;
    padding: 7px 13px;
    color: #fff;
  }
  .form-required{
    display: none;
  }
  label{
    font-weight: normal;
    padding: 7px 13px;
  }
  .form-submit{
    background: url("../images/Group.png") no-repeat center center #fff;
    border-radius: 0 3px 3px 0;
    width: 15%;
    height: 40px;
    border: none;
    text-indent: -9999px;
  }
  .form-item{
    margin: 0 0 10px 0;
  }
}

.wrapper-bottom{
  background-color: $blue;
  overflow: hidden;
  padding: 90px 0;
  .region-bottom{
    @include width;
    width: 1020px;
  }
  p{
    margin: 0;
  }
  .logo-image{
    max-width: 300px;
    height: auto;
    margin: 0 auto
  }
  #block-block-5{
    border-top: 1px solid #fff;
    padding-top: 40px;
    margin-top: 80px;
    color: #fff;
    .left{
      float: left;
    }
    .right{
      float: right;
    }
    a{
      color: #fff;
    }
  }
}
/*****  background image and video  ***********/

.field-name-field-background-image{
  border: medium none;
  height: 200%;
  left: -50%;
  overflow-x: hidden;
  position: fixed;
  width: 200%;
  z-index: -1;
  img{
    height: auto;
    min-height: 100%;
    min-width: 1024px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    @include res(s){
      right: -50%;
    }
  }
}

/********  links at the top  ********/

.region-links{
  width: 100%;
  z-index: 100;
  .block{
    @include width();
    padding: 0;
  }
  p{
    margin: 0;
    a{
      background-color: $yellow;
      font-size: 18px;
      text-transform: uppercase;
      padding: 10px 20px;
      color: #fff;
      display: block;
      letter-spacing: 6px;
      margin: -26px 36px 0 0;
      float: right;
    }
  }
}

.scroll .region-links{
  position: fixed;
  top: 65px;
  right: 0;
  .block{
    padding: 0 3%;
  }
  a{
    margin-top: 0;
  }
}

/*********  front  **********/

.front{
  .field-name-body{
    padding: 0 90px;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    margin: 50px 0;
    @include res(s-m){
      padding: 0 3%;
      -webkit-column-count: 1; /* Chrome, Safari, Opera */
      -moz-column-count: 1; /* Firefox */
      column-count: 1;
      -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
      -moz-column-gap: 40px; /* Firefox */
      column-gap: 40px;
      margin: 20px 0;
    }
  }
  p{
    margin: 0;
  }
  .field-name-field-hp-image{
    .field-item{
      width: 50%;
      float: left;
    }
  }
}

#block-views-concerts-view-block{
  padding: 0 16%;
  margin-bottom: 100px;
  overflow: hidden;
  h2{
    margin: 20px 0;
    font-size: 20px;
    letter-spacing: 10px;
    text-align: center;
  }
  .views-row-odd{
    float: right;
  }
  .views-row-even{
    float: left;
  }
  .views-row{
    width: 47%;
    position: relative;
    margin-bottom: 30px;
    img{
      margin-bottom: -8px;
      border-radius: 3px;
    }
  }
  .views-field-title{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    border-radius: 3px;
    .month{
      color: #fff;
      font-size: 20px;
      padding-top: 21%;
      line-height: 33px;
      text-transform: uppercase;
    }
    a{
      height: 100%;
      display: block;
    }
    .day{
      color: $yellow;
      font-size: 36px;
    }
    .hour{
      color: #fff;
      font-size: 15px;
      margin-top: 5px;
    }
    .title{
      color: #fff;
      font-size: 16px;
      margin-top: 4%;
    }
  }
}

#block-views-blog-post-view-block{
  padding: 0 185px;
  margin-bottom: 100px;
  overflow: hidden;
  h2{
    margin: 20px 0;
    font-size: 20px;
    letter-spacing: 10px;
    text-align: center;
  }
  .views-row-odd{
    float: right;
  }
  .views-row-even{
    float: left;
  }
  .views-row{
    width: 47%;
    position: relative;
    margin-bottom: 30px;
    img{
      margin-bottom: -8px;
      border-radius: 3px;
    }
  } 
  .views-field-field-post-date{
    color: $yellow;
    font-size: 14px;
    float: left;
  } 
  .views-field-field-post-date-1{
    color: $yellow;
    font-size: 30px;
    clear: left;
  }
  .views-field-title a{
    color: $default;
    font-size: 16px;
    float: right;
  }
}