@font-face {
  font-family: gothic;
  src: url('../fonts/gothic.eot?') format('eot'), 
  url('../fonts/gothic.woff') format('woff'),
  url('../fonts/gothic.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/gothic.ttf') format('truetype');
}

@font-face {
  font-family: Helvetica;
  src: url('../fonts/Helvetica.eot?') format('eot'), 
  url('../fonts/Helvetica.woff') format('woff'),
  url('../fonts/Helvetica.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/Helvetica.ttf') format('truetype');
}


 @mixin res($media) {
  @if $media == s {
    @media (max-width: 480px) { @content; }
  }
  @else if $media == m {
    @media (min-width: 481px) and (max-width: 767px) { @content; }
  }
  @if $media == s-m {
    @media (max-width: 767px) { @content; }
  }
  @if $media == l {
    @media (min-width: 768px) and (max-width: 900px) { @content; }
  }
}

/**********  mixin  ********/

@mixin width(){
  width: 1225px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
}

/**********  colors  ********/

$default: #202020;
$yellow: #ffc221;
$blue: #46C2D2;
$dark-blue: #31919E;
$gray: #9b9b9b;

/**********  global css  ********/

a, a:link, a:visited{
  text-decoration: none;
  outline: 0;
}

textarea:focus, input:focus{
    outline: 0;
}

*:focus {
    outline: 0;
    outline-style:none;
    outline-width:0;
}

body{
    font-size: 15px;
    line-height: 22px;
    font-family: 'gothic', arial;  
    color: $default;
}

#page{
  @include width();
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  position: relative;
  right: 0;
  overflow: hidden;
  @include res(s-m){
    padding: 0;
    right: 0!important;
  }
}

#main{
  padding: 0px;
  border-radius: 3px 3px 0 0 ;
  @include res(s-m){
    border-radius: 0;
  }
}

.page-user #main{
  margin-top: 0!important;
}

.front #main{
  background-color: #fafafa;
}

.not-front article{
  background-color: #fafafa;
  padding: 80px 8%;
  border-radius: 3px;
  @include res(s-m){
    padding: 80px 25px;
  }
}

.not-front.node-type-page article{
  background-color: $blue;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 80px 8% 60px;
  @include res(s-m){
    border-radius: 0;
  }
  .field-name-body{
    a{
      color: #fff;
      text-decoration: underline;
    }
  }
}

.not-front .wrapper-article{
    width: 800px;
    padding: 0 25px;
    margin: 0 auto;
    max-width: 100%;
    box-sizing:border-box;
    @include res(s-m){
      padding: 0;
    }
  }

.wrapper-content-bottom{
  background-color: #fafafa;
  border-radius: 3px 3px 0 0;
  padding: 80px 8%;
  margin-top: 40px;
  @include res(s-m){
    border-radius: 0;
    margin: 0;
    padding-bottom: 30px;
    padding: 30px 0;
  }
  .region-content-bottom{
    width: 800px;
    padding: 0 25px;
    max-width: 100%;
    box-sizing:border-box;
    margin: 0 auto;
  }
}

#page-title{
  margin-bottom: 80px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 6px;
  text-transform: uppercase;
  padding: 0 3%;
  font-weight: normal;
}

#content{
  padding: 0;
}

.block{
  margin-bottom: 0;
}

.field-collection-view {
    border: none;
    margin: 0;
    padding: 0;
}

.field-collection-container {
    border: none;
    margin: 0;
}

.field-name-field-links-box{
  margin-top: 50px;
  a{
    background-color: $yellow;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    padding: 10px 15px;
    margin-bottom: 30px;
    display: inline-block;
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: 6px;
  }
  .field-item:last-child a{
    margin-bottom: 0;
  }
}

.field-name-field-text-after-links{
  margin-top: 40px;
}

.tabim{
  margin-top: 70px;
  width: 100%;
  position: absolute;
  z-index: 200;
  .tabs-primary{
    @include width;
  }
}

/**********  header **********/

.logo-wrapper{
  width: 100%;
  text-align: center;
  margin-top: 35px;
  position: relative;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  right: 0;
  @include res(s){
    right: 0!important;
    width: 95%;
  }
  #logo{
    float: none;
    @include res(s-m){
      margin-right: 0!important;
    }
  }
}

.scroll .logo-wrapper,
.not-front .logo-wrapper{
  margin-top: 6px;
  #logo{
    display: inline-block;
    height: 26px;
    margin-top: 9px;
    overflow: hidden;
    width: 320px;
    @include res(s-m){
      height: 18px;
      float: left;
      margin-top: 3px;
    }
    @include res(s){
      margin-top: 8px;
      width: 200px;
      height: 16px;
    }
  }
}

#header{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  left: 0;
  .header-wrapper{
    position: relative;
    @include width;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
}

.scroll #header, .not-front #header{
  height: 50px;
  background-color: $blue;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.93);
  @include res(s-m){
    height: 42px;
  }
}
/********* menu  **********/

#navigation{
  margin-right: -100%;
  height: 100%;
  position: fixed;
  right: 0;
  min-width: 300px;
  max-width: 100%;
  background-color: $blue;
  z-index: 200;
  padding-left: 40px;
  padding-top: 75px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  top: 0;
  @include res(s-m){
    min-width: 100%;
  }
  li{
    margin-bottom: 15px;
    clear: left;
    @include res(s-m){
      margin-bottom: 10px;
    }
  }
  li:after {
      border-bottom: 2px solid $yellow;
      content: "";
      display: block;
      padding: 0;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      width: 0;
  }
  li.active:after, li:hover:after{
    width: 100%;
  }
  a{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 7px;
  }
}

.node-type-concert .menu-683:after, .node-type-blog-post .menu-682:after{
    width: 100%!important;
}

.small-height{
  #navigation li{
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 23px;
  }
}
.scroll #navigation,
.not-front #navigation{
  z-index: -1;
}
.display-menu #navigation{
  margin-right: 0;
}

.menu-wrapper{
  overflow: hidden;
  float: right;
  cursor: pointer;
  margin-top: 10px;
  height: 20px;
  width: 20px;
  right: 130px;
  position: absolute;
  z-index: 400;
  @include res(s-m){
    margin-right: 0;
    right: 10px;
    margin-top: 7px;
  }
  @include res(l){
    right: 10px;
  }
  @include res(s){
    margin-top: 3px;
  }
  .lines{
    float: right;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  span{
    width: 20px;
    height: 2px;
    margin-bottom: 4px;
    background-color: #fff;
    display: block;  
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
}

.scroll .menu-wrapper,
.not-front .menu-wrapper{
  @include res(s-m){
    margin-top: 8px;
  }
}

.display-menu .menu-button{
  color: #fff;
  width: 100%;
  span{
    margin: 0;
    background-color: #fff;
  }
  .lines{
    margin-right: 0px;
  }
  .line1{
    transform: rotate(45deg);
    -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    margin-top: 8px;
  }
  .line2{
    display: none;
  }
  .line3{
    margin-top: -2px;
    transform: rotate(135deg);
    -ms-transform: rotate(135deg); 
    -webkit-transform: rotate(135deg); 
  }
}

/*********  footer  ***************/

.wrapper-footer{
  background-color: $dark-blue;
  color: #fff;
  padding: 100px 0;
  @include res(s-m){
    padding: 60px 0;
  }
  #footer{
    @include width();
    width: 1020px;
    @include res(s-m){
      padding: 0 25px;
    }
  }
  .block-title{
    font-size: 16px;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-family: 'Helvetica', arial;
    font-weight: normal;
  }
  p{
    margin: 0;
  }
}


#block-weather-system-1{
  float: left;
  width: 30%;
  margin-right: 5%;
  @include res(s-m){
    width: 100%;
    margin: 0 0 60px 0;
  }
  .place{
    letter-spacing: 2px;
  }
  .temperature{
    font-size: 34px;
    margin-top: 20px;
    position: relative;
    &.fahrenheit{
      .number:nth-child(2){
        display: none;
      }
    }
    .degree{
      font-size: 23px;
      position: relative;
      right: 5px;
      top: -7px;
    }
    &.celsius >{
      .number:nth-child(1){
        display: none;
      }
    }
    .scales{
      font-size: 18px;
      position: absolute;
      left: 74px;
      top: 2px;
      .active{
        font-size: 20px;
        font-weight: bold;
      }
      .line{
        background-color: #fff;
        display: inline-block;
        height: 30px;
        width: 1px;
        margin: 0 10px;
      }
      .fahrenheit, .celsius{
        cursor: pointer;
        position: relative;
        top: -6px;      
      }
    }
  }
}

#block-bean-social-link-block{
  float: left;
  width: 30%;
  margin-right: 5%;
  @include res(s-m){
    width: 100%;
    margin: 0 0 20px 0;
    padding-bottom: 20px;
  }
  .field-items{
    clear: left;
  }
  .field-item{
    display: inline-block;
    margin-right: 20px;
    transition: all 0.5s;
  -webkit-transition: all 0.5s;
    &:hover{
      opacity: 0.8;
    }
  } 
  .field-item:last-child{
    margin-right: 0;
  } 
  .field-name-field-social-text{
    margin-bottom: 20px;
    overflow: hidden;
  }
}

#block-mailchimp-signup-signup-for-newsletter{
  position: relative;
  width: 30%;
  float: right;
  @include res(s-m){
    width: 100%;
  }
  input.form-text{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 3px 0 0 3px;
    width: 77%;
    float: left;
    height: 40px;
    padding: 7px 13px;
    color: #fff;
  }
  .form-required{
    display: none;
  }
  label{
    font-weight: normal;
    padding: 7px 13px;
    cursor: text;
  }
  .form-submit{
    background: url("../images/Group.png") no-repeat center center #fff;
    border-radius: 0 3px 3px 0;
    width: 23%;
    height: 40px;
    border: none;
    text-indent: -9999px;
  }
  .form-item{
    margin: 0 0 10px 0;
  }
}

.wrapper-bottom{
  background-color: $blue;
  overflow: hidden;
  padding: 90px 0;
  @include res(s-m){
    padding: 20px 25px;
  }
  .region-bottom{
    @include width;
    width: 1020px;
    @include res(s-m){
      padding: 0;
    }
  }
  p{
    margin: 0;
  }
  .logo-image{
    max-width: 300px;
    height: auto;
    margin: 0 auto;
  }
  #block-block-5{
    border-top: 1px solid #fff;
    padding-top: 40px;
    margin-top: 80px;
    color: #fff;
    letter-spacing: 6px;
    a{
      text-decoration: underline;
      border-bottom: 1px solid;
      @include res(s){
        border-bottom: 0;
        display: block;
        width: 100%;
      }
    }
    @include res(s-m){
      padding-top: 20px;
      margin-top: 18px;
    }
    .left{
      float: left;
    }
    .right{
      float: right;
      @include res(s-m){
        margin-top: 20px;
      }
    }
    .left, .right{
      @include res(s-m){
        float: none;
        width: 100%;
        text-align: center;
      }
    }
    a{
      color: #fff;
    }
  }
}
/*****  background image and video  ***********/

/*.field-name-field-background-image, .views-field-field-background-image,*/
.field-name-field-background-video-file{
  border: medium none;
  height: 200%;
  left: -50%;
  position: fixed;
  width: 200%;
  z-index: -2;
  img{
    height: auto;
    min-height: 100%;
    min-width: 1024px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    @include res(s){
      right: -100%;
    }
  }
}

.bg-image{
      -webkit-background-size: cover!important;
      -moz-background-size: cover!important;
      -o-background-size: cover!important;
      background-size: cover!important;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      position: fixed;
      z-index: -1;
}
.field-name-field-background-video-file{
  top: 0;
  z-index: -1;
}
/********  links at the top  ********/

.scroll-book-now{
  .region-links{
    position: relative;
    top: 0!important;
    @include res(s-m){
      position: fixed;
      bottom: 149px;
      top: auto!important;
    }
  }
}
.region-links{
  width: 100%;
  z-index: 98;
  right: 50px;
  position: fixed;
  height: 0;
  transition: margin-right 0.5s;
  -webkit-transition: margin-right 0.5s;
  @include res(s-m){
    right: 0;
    margin-right: 0!important;
    position: fixed;
    bottom: 149px;
    top: auto!important;
  }
  .block{
    @include width();
    padding: 0;
  }
  p{
    margin: 0;
    a{
      background-color: #ffc221;
      border-radius: 6px;
      color: #fff;
      display: block;
      float: right;
      font-size: 16px;
      letter-spacing: 6px;
      line-height: 23px;
      margin: -30px 36px 0 0;
      padding: 7px 0 7px 5px;
      text-align: center;
      text-transform: uppercase;
      width: 90px;
      transition: background-color 0.5s;
      -webkit-transition: background-color 0.5s;
      &:hover{
        background-color: #fdd671;
      }
      @include res(s-m){
        font-size: 12px;
        line-height: 16px;
        margin-right: 25px;
        margin-top: -22px;
        padding: 5px 0 5px 2px;
        width: 71px;
      }
    }
  }
}
/*
.scroll .region-links{
  position: fixed;
  right: 0;
  height: 65px;
  top: 0;
  a{
    margin-top: 65px!important;
  }
  @include res(s-m){
    right: 0px;
    a{
      margin-top: 42px!important;
    }
  }
  .block{
    padding: 0 3%;
  }
  a{
    margin-top: 0;
  }
}
*/
/*********  front  **********/

.front{
  .field-name-body{
    padding: 0 25px;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    margin: 50px auto;
    width: 800px;
    max-width: 100%;
    box-sizing: border-box;
    @include res(s-m){
      padding: 0 3%;
      -webkit-column-count: 1; /* Chrome, Safari, Opera */
      -moz-column-count: 1; /* Firefox */
      column-count: 1;
      -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
      -moz-column-gap: 40px; /* Firefox */
      column-gap: 40px;
      margin: 20px 0;
    }
  }
  p{
    margin: 0;
  }
  .field-name-field-hp-image{
    .field-item{
      width: 50%;
      float: left;
      img{
        margin-bottom: -8px;
      }
      @include res(s){
        width: 100%;
      }
    }
  }
  .region-content-bottom{
    padding: 0;
  }
  #page-title{
    padding-top: 80px;
    letter-spacing: 14px;
  }
}

#block-views-concerts-view-block, #block-views-concerts-view-block-1{
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
  padding: 0 25px;
  width: 800px;
  margin-bottom: 100px;
  overflow: hidden;
  @include res(l){
    padding: 0 3%;
  }
  @include res(s-m){
    padding: 0 3%;
    margin-bottom: 20px;
  }
  h2{
    margin: 100px 0 80px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 14px;
    text-transform: uppercase;
    font-weight: normal;
    @include res(s-m){
      margin: 60px 0 20px;
    }
  }
  .views-row-odd{
    float: right;
    clear: both;
  }
  .views-row-even{
    float: left;
  }
  .views-row{
    width: 47%;
    position: relative;
    margin-bottom: 38px;
    overflow: hidden;
    border-radius: 6px;
    @include res(s){
      width: 100%;
    }
    img{
      margin-bottom: -8px;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
    }
    /*&:hover img{
        transform: scale3d(1.1, 1.1, 1);
        -ms-transform: scale3d(1.1, 1.1, 1);
        -webkit-transform: scale3d(1.1, 1.1, 1);
        opacity: 0.9
    }*/
  }
  .views-field-title{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    border-radius: 3px;
    .month{
      color: #fff;
      font-size: 20px;
      padding-top: 15%;
      line-height: 36px;
      letter-spacing: 3px;
      text-transform: uppercase;
      @include res(m){
        padding-top: 7%;
      }
    }
    a{
      height: 100%;
      display: block;
    }
    .day{
      color: $yellow;
      font-size: 36px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 5px;
    }
    .hour{
      color: #fff;
      font-size: 15px;
      margin-top: 5px;
    }
    .title{
      color: #fff;
      font-size: 16px;
      margin-top: 4%;
      font-weight: bold;
      letter-spacing: 8px;
      text-transform: uppercase;
    }
  }
}

#block-views-concerts-view-block-1{
  margin-bottom: 0;
}

.page-node-43 .field-name-body p{
  margin: 0;
}

#block-views-blog-post-view-block{
   box-sizing: border-box;
    margin: 0 auto 100px;
    max-width: 100%;
    overflow: hidden;
    padding: 0 25px;
    width: 800px;
  @include res(s-m){
    padding: 0 3%;
    margin-bottom: 20px;
  }
  h2{
    margin: 100px 0 80px;
    font-size: 20px;
    letter-spacing: 10px;
    text-align: center;
    font-weight: normal;
    @include res(s-m){
      margin: 60px 0 20px;
    }
  }
  .views-row-odd{
    float: right;
    clear: both;
  }
  .views-row-even{
    float: left;
  }
  .views-row{
    width: 47%;
    position: relative;
    margin-bottom: 30px;
    @include res(s){
      width: 100%;
    }
    .views-field-field-blog-post-image{
      overflow: hidden;
      border-radius: 6px;
    }
    img{
      margin-bottom: -5px;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
    }
    /*&:hover img{
        transform: scale3d(1.1, 1.1, 1);
        -ms-transform: scale3d(1.1, 1.1, 1);
        -webkit-transform: scale3d(1.1, 1.1, 1);
        opacity: 0.9;
    }*/
  } 
  .views-field-field-post-date{
    color: $yellow;
    font-size: 14px;
    float: left;
    text-transform: uppercase;
  } 
  .views-field-field-post-date-1{
    margin-top: 15px;
    color: $yellow;
    font-size: 30px;
    clear: left;
    font-weight: bold;
  }
  .views-field-title{ 
    margin-top:15px;
    a{
      color: $default;
      font-size: 16px;
      float: right;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
}

/********  surf life page - Blog  ***********/

.page-node-22{
  #page-title{
    display: none;
  }
  article{
    padding: 0!important;
  }
  .wrapper-content-bottom{
    margin-top: 0;
    padding-top: 30px;
  }
}

#block-views-blog-post-view-block-1, .view-blog-post-view.view-display-id-page_2{
  .views-exposed-form{
    text-align: center;
    @include res(s-m){
      text-align: left;
    }
    .description{
      display: none;
    }
    a{
      color: $gray;
      &.active, &:hover{
        color: $yellow;
      }
    }
    .views-exposed-widget{
      float: none;
      padding-right: 0;
    }
    .bef-select-as-links .form-item .form-item{
      display: inline-block;
      padding: 0 18px;
      @include res(s-m){
        width: 49%;
        padding: 0 0 20px 0;
      }
    }
  }
  .view-content{
    padding-top: 75px;
    .views-field-field-post-date-1{
      float: left;
      width: 9.5%;
      display: flex;
      align-items: center;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      align-items: center;
      color: $yellow;
      text-transform: uppercase;
      @include res(s-m){
        display: block;
        margin-bottom: 20px;
      }
      @include res(s-m){
        height: auto!important;
        width: auto!important;
        margin-right: 12px;
      }
          .field-content{
        @include res(s-m){
          margin: 0 auto;
        }
      }
      @include res(s-m){
        width: 15%;
      }
      .month{
        font-size: 14px;
        text-align: center;
        @include res(s-m){
          text-align: left;
        }
      }
      .day{
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        @include res(s-m){
          text-align: left;
        }
      }
    }
    .views-field-field-blog-post-image{
      float: left;
      width: 37%;
      overflow: hidden;
      @include res(s-m){
        width: 100%;
      }
      img{
        margin-bottom: -8px;
        border-radius: 6px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
      }
      /*&:hover img{
        transform: scale3d(1.1, 1.1, 1);
        -ms-transform: scale3d(1.1, 1.1, 1);
        -webkit-transform: scale3d(1.1, 1.1, 1);
        opacity: 0.9
      }*/
    }
    .views-field-nid{
      float: right;
      width: 47.5%;
      margin-top: 15px;
      @include res(s-m){
        width: 100%;
        padding-bottom: 30px;
      }
      .title a{
        font-size: 24px;
        font-weight: bold;
        color: $yellow;      
        text-transform: uppercase;
        letter-spacing: 3px;
        @include res(s-m){
          display: none;
        }
      }
      .body{
        font-size: 14px;
        margin-top: 28px;
        line-height: 21px;
        letter-spacing: 2px;
        a{
          color: $dark-blue;
          text-decoration: underline;
          margin-left: 5px;
        }
      }
    }
    .views-field-title-1 {
      padding-top: 26px;
      position: relative;
      display: none;
      @include res(s-m){
        display: block;
      }
      a{
        font-size: 15px;
        font-weight: bold;
        color: $yellow;      
        text-transform: uppercase;
        letter-spacing: 3px;
      }
    }
    .views-row{
      overflow: hidden;
      margin-bottom: 80px;
      @include res(s-m){
        margin-bottom:30px;
      }
    }
  }
  .pager{
    li{
      list-style-type: none;
        a{
          color: $default;
        }
    }
  }
}

/*******  contact page  *******/

.node-type-webform{
  #page-title{
    padding-top: 80px;
  }
  article{
    background-color: $blue;
    color: #fff;
    border-radius: 3px;
    padding: 0;
    @include res(s-m){
      border-radius: 0;
    }
    .field-name-body{
      @include res(s-m){
        line-height: 30px;
      }
    }
    .content{
        padding: 0px 8%;
        .address{
          padding-top: 30px;
          font-size: 20px;
          text-transform: uppercase;
          text-align: center;
          letter-spacing: 6px;
          @include res(s-m){
            padding-top: 60px;
          }
        }
        .places{
          width: 600px;
          margin: 70px auto 0;
          max-width: 100%;
          font-size: 20px;
          letter-spacing: 6px;
          line-height: 30px;
          @include res(s-m){
            margin-top: 20px;
          }
          .number span{
            text-decoration: underline;
          }
          .label{
            text-align: center;
          }
        }
        .left-place{
          float: left;
          @include res(s){
            width: 100%;
            float: none;
            text-align: center;
            margin-bottom: 15px;
          }
        }
        .right-place{
          float: right;
          @include res(s){
            width: 100%;
            float: none;
            text-align: center;
          }
        }
        .emails{
          clear: both;
          text-align: center;
          padding-top: 100px;
          padding-bottom: 90px;
          @include res(s-m){
            padding-top: 20px;
            padding-bottom: 40px;
          }
          a{
            display: inline-block;
            color: #fff;
            border-right: 1px solid #fff;
            line-height: 16px;
            margin-right: 10px;
            padding-right: 10px;
            text-decoration: underline;
          }
          a:last-child{
            border-right: none;
          }
          @include res(s-m){
            a{
              width: 100%;
              border: none;
            }
          }
        }
    }
    p{
      margin: 0;
    }
  }
  .wrapper-article{
    width: 100%;
    padding: 0;
  }
  .form-wrapper-contact-us{
    background-color: #fafafa;
    padding: 80px 0 150px;
    margin-top: 30px;
    border-radius: 3px 3px 0 0;
    @include res(s-m){
      padding-top: 20px;
      border-radius: 0;
      margin-top: 0;
      padding-bottom: 70px;
    }
    .form-required{
      display: none;
    }
    .form{
      width: 670px;
      max-width: 94%;
      padding: 0 3%;
      margin: 0 auto;
    }
    .form-title{
      font-size: 20px;
      text-align: center;
      letter-spacing: 12px;
      text-transform: uppercase;
      margin-bottom: 80px;
      font-weight: normal;
      @include res(s-m){
        margin-bottom: 20px;
      }
    }
    label{
      font-weight: normal;
      letter-spacing: 2px;
    }
    .webform-component{
      @include res(s-m){
        margin-top: 0;
      }
    }
    .webform-component--first-name{
      float: left;
      width: 46%;
      @include res(s-m){
        width: 100%;
      }
    }
    .webform-component--last-name{
      float: right;
      width: 46%;
      @include res(s-m){
        width: 100%;
      }
    }
    .webform-component-email{
      clear: both;
    }
    input.form-text{
      width: 100%;
      height: 34px;
      border: 1px solid #e1e1e1;
      border-radius: 3px;
      padding:  0 5px;
      margin-top: 5px;
    }
    textarea{
      border: 1px solid #e1e1e1;
      border-radius: 3px;
      padding:  0 5px;  
      resize: none;  
      margin-top: 5px;  
    }
    .grippie{
      display: none;
    }
    input.form-submit{
      background-color: $yellow;
      color: #fff;
      text-transform: uppercase;
      font-size: 17px;
      border:none;
      padding: 15px 20px;
      border-radius: 3px;
      font-weight: bold;
      letter-spacing: 6px;
      @include res(s-m){
        margin-top: 10px;
      }
    }
  }
}
#map-canvas {
  height: 500px;
  width: 100%;
}

#webform-ajax-wrapper-49{
  .links a{
      background-color: $yellow;
      color: #fff;
      text-transform: uppercase;
      font-size: 17px;
      border:none;
      padding: 15px 20px;
      border-radius: 3px;
  }
}
/************  post page  ********/

.node-type-blog-post{
  .date-in-parts{
    color: $yellow;
    float: left;
    .month{
      font-size: 14px;
    }
    .day{
      font-size: 30px;
      font-weight: bold;
    }
  }
  .name-title{
    float: left;
    margin-left: 50px;
    @include res(s){
      float: left;
      clear: left;
      margin: 0;
    }
    #page-title{
      margin: 0;
      font-size: 24px;
      color: $yellow;
      letter-spacing: 2px;
      padding: 0;
      text-align: left;
      font-weight: bold;
    }
    .field-name-field-post-type a{
      font-size: 13px;
      color: #9b9b9b;
      text-transform: uppercase;
      @include res(s-m){
        padding-top: 15px;
        display: block;
      }
    }
  }
  .field-name-field-post-tags{
    float: right;
    color: #9b9b9b;
    font-size: 13px;
    margin-top: 37px;
    @include res(s-m){
      clear: left;
      float: left;
      margin: 0;
    }
    a{
      color: #9b9b9b;
    }
    .field-label{
      font-weight: normal;
    }
    .field-item{
      float: left;
      margin-left: 5px;
    }
  }
  .field-name-field-blog-post-image{
    clear: both;
    padding-top: 20px;
  }
  .field-name-body{
    margin-top: 60px;
    width: 75%;
    @include res(s-m){
      width: 100%;
    }
    p{
      margin-top: 0;
    }
  }
  #share{
    margin-top: 15px;
    .link{
      float: left;
      margin-right: 14px;
    }
  }
  article{
    border-radius: 3px 3px 0 0;
    padding-bottom: 50px;
    border:1px solid #fafafa;
    @include res(s-m){
      padding-top: 30px;
    }
  }
  .wrapper-content-bottom{
    margin: 0;
    border-radius: 0;
    padding-top: 0;
    text-transform: uppercase;
    @include res(s-m){
      padding: 0;
    }
  }
  .region-content-bottom{
    @include res(s-m){
      padding: 0;
    }
  }
}

#block-views-similarterms-block{
  border-top: 1px solid #979797;
  padding-top: 30px;
  overflow: hidden;
  width: 70%;
  @include res(s-m){
    width: 100%;
    padding-bottom: 30px;
  }
  h2{
    margin-bottom: 30px;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 22px;
    @include res(s-m){
      padding: 0 8%;
    }
  }
  .view{
    @include res(s-m){
      padding: 0 8%;
    }
  } 
  .views-row{
    width: 48%;
    margin-bottom: 30px;
    @include res(s){
      width: 100%;
    }
  }
  .views-row-odd{
    float: left;
  }
  .views-row-even{
    float: right;
  }
  .views-field-title{
      margin-top: 8px;
      margin-bottom: 3px;
      a{
        font-size: 22px;
        color: $yellow;
        letter-spacing: 3px; 
        font-weight: bold; 
      }
  }
  .views-field-field-post-date{
    letter-spacing: 2px;
  }
  img{
    border-radius: 6px;
  }
}

#block-views-blog-post-view-block-2{
  border-top: 1px solid #979797;
  padding-top: 30px;
  margin-top: 50px;
  .block-title{
      text-transform: uppercase;
      font-size: 16px;
      margin-bottom: 25px;
  }
  .views-row{
    width: 48%;
    @include res(s){
      width: 100%;
    }
  }
  .views-field-field-blog-post-image{
    overflow: hidden;
    img{
      margin-bottom: -8px;
      border-radius: 3px;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      overflow: hidden;
      /*&:hover{
          transform: scale3d(1.1, 1.1, 1);
          -ms-transform: scale3d(1.1, 1.1, 1);
          -webkit-transform: scale3d(1.1, 1.1, 1);
          opacity: 0.9
      }*/
    }
  }
  .views-row-odd{
    float: left;
  }
  .views-row-even{
    float: right;
  }
  .views-field-title a{
    font-size: 24px;
    color: $yellow;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .views-field-field-post-date{
    line-height: 15px;
  }
}

/******  our rooms  *********/

#block-views-rooms-view-block{
  .field-slideshow{
    max-width: 100%;
    box-sizing: border-box;
    img{
      margin-bottom: -8px;
    }
    .field-slideshow-slide{
      top: 1px!important;
    }
  }
  .views-field-field-room-gallery{
    position: relative;
    overflow: hidden;
  }
  .field-slideshow-controls{
    position: absolute;
    bottom: 0px;
    right: 0;
    z-index: 90;
    a{
      background: url("../images/arrows-gallery.png") no-repeat 0 0;
      width: 32px;
      height: 35px;
      text-indent: -9999px;
      display: inline-block;
      float: right;
      &.prev{
        background-position: -32px 0;
      }
    }
  }
  .views-field-title{
    margin-top: 40px;
    color: $yellow;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
  }
  .views-row{
    margin-bottom: 150px;
  }
  .views-field-body{
    letter-spacing: 2px;
    ul{
      padding-left: 14px;
    }
  }
}

/********  concert  ********/

.node-type-concert{
  article{
    border-radius: 0 0 3px 3px;
    padding-top: 0;
  }
  #page-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: left;
    color: $yellow;
    letter-spacing: 4px;
    padding: 0;
    @include res(s-m){
      line-height: 30px;
      font-size: 25px;
      padding-top: 16px;
    }
  }
  .field-name-field-concert-date{
    letter-spacing: 2px;
  }
  #share{
    margin-top: 10px;
    margin-bottom: 40px;
    width: 100%;
    overflow: hidden;
    .link{
      float: left;
      margin-right: 10px;
    }
    .facebook{
      margin-top: 4px;
    }
    .twitter{
      margin-top: 4px;
    }
  }
  .field-name-field-concert-page-image{
    float: left;
    margin-right: 4%;
    width: 32%;
    img{
      border-radius: 6px;
    }
    @include res(s-m){
      width: 100%;
    }
  }
  .field-name-body{
    width: 64%;
    float: right;
    p{
      margin-top: 0;
    }
    @include res(s-m){
      width: 100%;
      margin-top: 15px;
    }
  }
  .field-name-field-concert-sample-video{
    width: 100%;
    padding-top: 90px;
    clear: both;
    @include res(s-m){
      padding-top: 45px;
    }
    iframe{
      @include res(s-m){
        height: 300px;
      }
      @include res(l){
        height: 450px;
      }
    }
  }
}

#block-block-7{
  background-color: #fafafa;
  border-radius: 3px 3px 0 0; 
  padding: 70px 8% 50px;
  @include res(s-m){
    display: none;
  }
  p{
    width: 800px;
    padding: 0 25px;
    box-sizing:border-box;
    margin: 0 auto;
    display: block;
    a{
      color: $yellow;
      background: url("../images/arrow-yellow.png") no-repeat left center;
      padding-left: 32px;
    }
  }
}

/********  wellness & plan your event *********/

#block-bean-wellness-new-block, #block-bean-plan-your-event-block-bean, #block-bean-resturant-block{
  text-align: center;
  .field-name-field-plan-box > .field-items >, .field-name-field-meal > .field-items{
    .field-item{
      @include res(s-m){
        .field-name-field-image{
          margin: 0;
        }
      }
      .field-name-field-image{
        width: 51%;
        img{
          margin-bottom: -8px;
        }
        @include res(s-m){
          width: 100%;
          margin-bottom: 30px;
        }
      }
    }
    .field-item.even{
      .field-name-field-image{
        float: left;
        margin-right: 10%;
      }
    }
    .field-item.odd{
      .field-name-field-image{
        float: right;
        margin-left: 10%;
      }
    }   
  }
  .entity-field-collection-item .content{
 /*     overflow: hidden;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;*/
      @include res(s-m){
        display: block;
      }
  }
  .field-item.odd .entity-field-collection-item .content{
      flex-direction: row-reverse;
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction:row-reverse;
  }
  .field-name-field-title-for-block{
    font-size: 20px;
    text-align: center;
    letter-spacing: 14px;
    text-transform: uppercase;
    line-height: 28px;
  }
  .field-name-field-text-box{
    text-align: center;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 2px;
    a{
      color: $default;
    }
  }
  .entity-field-collection-item{
    margin-bottom: 80px;
    @include res(s-m){
      margin-bottom: 50px;
    }
  }
}

/*********   resturant *********/

.region-highlighted{
  margin-top: 220px;
  text-align: center;
  #block-bean-resturant-upper-block{
    width: 515px;
    background-color: #fff;
    border: 2px solid $yellow;
    border-radius: 6px;
    padding: 40px 10px 30px; 
    margin: 0 auto;
    max-width: 90%;
    @include res(s-m){
      padding: 20px 5px;
    }
    box-sizing: border-box;
    .block-title{
      font-size: 20px;
      letter-spacing: 10px;
      font-weight: normal;
      text-transform: uppercase;
    }
    .field-name-field-pretext{
      font-weight: bold;
      font-size: 36px;
      text-transform: uppercase;
      color: $yellow;
      letter-spacing: 6px;
      margin-top: 23px;
    }
    .field-name-field-upper-text{
      margin-top: 30px;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 25px;
      p{
        margin: 0;
      }
    }
    .field-name-field-reservations{
      margin-top: 30px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
}

#block-bean-resturant-block .field-name-field-menu-pdf{
  a{
    background-color: $yellow;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    padding: 15px 20px;
    display: inline-block;
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: 6px;
  }
  img{
    display: none;
  }
}

/********  about & press*************/

#block-views-team-members-block, #block-views-press-view-block{
  overflow: hidden;
  .view-header, .block-title{
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 12px;
    text-align: center;
    font-weight: normal;
  }
  .views-field-field-image{
    position: absolute;
    opacity: 0;
    width: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    &:hover{
      opacity: 1;
    }
  }
  .views-row{
    float: left;
    width: 30%;
    margin-right: 5%;
    position: relative;
    margin-bottom: 70px;
    @include res(m){
      width: 49%;
      margin-right: 2%!important;
    }
    @include res(s){
      width: 100%;
      margin-right: 0%;
    }
  }
  .views-row:nth-child(3n){
    margin-right: 0;
    @include res(s-m){
      margin-right: 0;
    }
  }
  .views-row:nth-child(3n+1){
    clear: left;
    @include res(s-m){
      clear: none;
    }
  }
  .views-row-even{
    @include res(m){
      margin-right: 0!important;
    }
  }
  .views-row-odd{
    @include res(m){
      clear: left;
    }
  }
  .views-row-last{
    margin-bottom: 0;
  }
  .views-field-title, .views-field-field-quote a{
    font-size: 16px;
    letter-spacing: 3px;
    margin-top: 13px;
    line-height: 20px;
    color: $default;
    margin-bottom: 5px;
  }
  .views-field-title{
      text-transform: uppercase;
      margin-top: 20px;
    }
  .views-field-field-quote a{
    margin-top: 17px!important;
    display: block;
  }
  .views-field-field-job-title{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
  }
}

#block-views-team-members-block{
  @include res(s-m){
    margin-bottom: 30px;
  }
  .view-header{
    @include res(s-m){
      margin-bottom: 60px;
    }
  }
}

#block-views-press-view-block{
  .views-field-field-image{
    position: relative;
    opacity: 1;
  }
  .block-title{
    margin-bottom: 80px;
  }
}

.page-node-63{
  #page-title{
    display: none;
  }
   article{
    height: 0;
    padding: 0!important;
  }
  .wrapper-content-bottom{
    margin-top: 0;
  }
}
/*******  splash  ********

#splash{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  top: 0;
  z-index: 800;
  img{
    display: block;
    margin: 35px auto;
  }
}
*/
/**********  gallery  *********/

#block-bean-gallery{
  .jcbx-glry-classic{
    background-color: transparent!important;
    z-index: 0;
  }
  .jb-idx-thb-frame{
    border: none!important;
  }
  .jb-idx-thumb, .jb-dt-main-image{
    box-shadow: none!important;
  }
}


.page-node-86{
  article{
    background-color: #fafafa!important;
    border-radius: 3px 3px 0 0!important;
    margin-bottom: 0!important;
    color: $default!important;
    padding-bottom: 0px!important;
  }
  .wrapper-content-bottom{
    margin-top: 0!important;
    padding-top: 0!important;
    border-radius: 0;
  }
}

.jcbx-glry-classic div:nth-child(4){
  opacity: 0;
}
/****  messages  *********/

.messages{
  background-image: none;
  padding-left: 10px;
}

.messages{
  border:2px solid $yellow;
  background-color: transparent;
  border-radius: 6px;
  &.warning, &.error{
    border: 2px solid #CE0606;
  }
}

#block-mailchimp-signup-signup-for-newsletter{
  .messages{
    color: #fff;
  }
}

.hide-message #inline-messages{
  display: none;
}
