@font-face {
  font-family: gothic;
  src: url('../fonts/gothic.eot?') format('eot'), 
  url('../fonts/gothic.woff') format('woff'),
  url('../fonts/gothic.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/gothic.ttf') format('truetype');
}

 @mixin res($media) {
  @if $media == s {
    @media (max-width: 480px) { @content; }
  }
  @else if $media == m {
    @media (min-width: 481px) and (max-width: 767px) { @content; }
  }
  @if $media == s-m {
    @media (max-width: 767px) { @content; }
  }
  @if $media == l {
    @media (min-width: 768px) and (max-width: 900px) { @content; }
  }
}

/**********  mixin  ********/

@mixin width(){
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
}

/**********  colors  ********/

$default: #202020;
$yellow: #ffc221;
$blue: #46C2D2;
$dark-blue: #31919E;
$gray: #9b9b9b;

/**********  global css  ********/

a, a:link, a:visited{
  text-decoration: none;
  outline: 0;
}

textarea:focus, input:focus{
    outline: 0;
}

*:focus {
    outline: 0;
    outline-style:none;
    outline-width:0;
}

body{
    font-size: 15px;
    line-height: 28px;
    font-family: 'gothic', arial;  
    color: $default;
}

#page{
  @include width();
}

#main{
  padding: 0px;
  border-radius: 3px;
}

.front #main{
  background-color: #fafafa;
}

.not-front article{
  background-color: #fafafa;
  padding: 80px 8%;
  border-radius: 3px;
}

.not-front.node-type-page article{
  background-color: $blue;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 80px 8%;
  .field-name-body{
    a{
      color: #fff;
      text-decoration: underline;
    }
  }
}

.region-content-bottom{
  margin-top: 40px;
  background-color: #fafafa;
  border-radius: 3px;
  padding: 80px 8%;
}

#page-title{
  margin-bottom: 80px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 12px;
  text-transform: uppercase;
}

#content{
  padding: 0;
}

.block{
  margin-bottom: 0;
}

.field-collection-view {
    border: none;
    margin: 0;
    padding: 0;
}

.field-collection-container {
    border: none;
    margin: 0;
}

.field-name-field-links-box{
  margin-top: 50px;
  a{
    background-color: $yellow;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    padding: 14px 10px;
    margin-bottom: 30px;
    display: inline-block;
    border-radius: 3px;
  }
}
/**********  header **********/

.logo-wrapper{
  width: 100%;
  text-align: center;
  margin-top: 35px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  @include res(s){
    width: 250px;
  }
  #logo{
    float: none;
    @include res(s-m){
      width: 225px;
    }
  }
}

.scroll .logo-wrapper,
.not-front .logo-wrapper{
  margin-top: 13px;
  #logo{
    height: 30px;
    overflow: hidden;
    display: inline-block;
    @include res(s-m){
      height: 18px;
      float: left;
    }
  }
}

#header{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 300;
  .header-wrapper{
    position: relative;
    @include width;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
}

.scroll #header, .not-front #header{
  height: 65px;
  background-color: $blue;
  @include res(s-m){
    height: 42px;
  }
}

.display-menu .header-wrapper{
  width: 100%!important;
}
/********* menu  **********/

#navigation{
  margin-right: -100%;
  height: 100%;
  position: fixed;
  right: 0;
  width: 300px;
  max-width: 100%;
  background-color: $blue;
  z-index: 200;
  padding-left: 50px;
  padding-top: 60px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  top: 0;
  li{
    width: 100%;
    margin-bottom: 20px;
    @include res(s-m){
      margin-bottom: 10px;
    }
  }
  a{
    color: #fff;
    text-transform: uppercase;
  }
}

.small-height{
  #navigation li{
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 23px;
  }
}
.scroll #navigation,
.not-front #navigation{
  z-index: -1;
}
.display-menu #navigation{
  margin-right: 0;
}

.menu-wrapper{
  overflow: hidden;
  float: right;
  cursor: pointer;
  margin-top: 10px;
  height: 20px;
  width: 20px;
  right: 130px;
  position: absolute;
  z-index: 400;
  @include res(s-m){
    margin-right: 0;
    right: 10px;
    margin-top: 6px;
  }
  @include res(l){
    right: 10px;
  }
  .lines{
    float: right;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  span{
    width: 20px;
    height: 2px;
    margin-bottom: 4px;
    background-color: #fff;
    display: block;  
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
}

.scroll .menu-wrapper,
.not-front .menu-wrapper{
  @include res(s-m){
    margin-top: 3px;
  }
}

.display-menu .menu-wrapper{
  right: 10px;
}
.display-menu .menu-button{
  color: #fff;
  width: 100%;
  span{
    margin: 0;
    background-color: #fff;
  }
  .lines{
    margin-right: 0px;
  }
  .line1{
    transform: rotate(45deg);
    -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    margin-top: 8px;
  }
  .line2{
    display: none;
  }
  .line3{
    margin-top: -2px;
    transform: rotate(135deg);
    -ms-transform: rotate(135deg); 
    -webkit-transform: rotate(135deg); 
  }
}

/*********  footer  ***************/

.wrapper-footer{
  background-color: $dark-blue;
  color: #fff;
  padding: 100px 0;
  @include res(s-m){
    padding: 20px 0;
  }
  #footer{
    @include width();
    width: 1020px;
  }
  .block-title{
    font-size: 16px;
    letter-spacing: 6px;
    text-transform: uppercase;
  }
  p{
    margin: 0;
  }
}


#block-weather-system-1{
  float: left;
  width: 30%;
  margin-right: 5%;
  @include res(s-m){
    width: 100%;
    margin: 0 0 20px 0;
    text-align: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
  }
  .temperature{
    font-size: 25px;
    margin-top: 20px;
    span:nth-child(1){
      font-weight: bold;
    }
  }
}

#block-bean-social-link-block{
  float: left;
  width: 30%;
  margin-right: 5%;
  @include res(s-m){
    width: 100%;
    margin: 0 0 20px 0;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid #fff;
  }
  .field-items{
    clear: left;
  }
  .field-item{
    display: inline-block;
    margin-right: 20px;
    transition: all 0.5s;
  -webkit-transition: all 0.5s;
    &:hover{
      opacity: 0.8;
    }
  } 
  .field-item:last-child{
    margin-right: 0;
  } 
  .field-name-field-social-text{
    margin-bottom: 20px;
    overflow: hidden;
  }
}

#block-mailchimp-signup-signup-for-newsletter{
  position: relative;
  width: 30%;
  float: right;
  @include res(s-m){
    width: 100%;
    text-align: center;
  }
  input.form-text{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 3px 0 0 3px;
    width: 85%;
    float: left;
    height: 40px;
    padding: 7px 13px;
    color: #fff;
  }
  .form-required{
    display: none;
  }
  label{
    font-weight: normal;
    padding: 7px 13px;
  }
  .form-submit{
    background: url("../images/Group.png") no-repeat center center #fff;
    border-radius: 0 3px 3px 0;
    width: 15%;
    height: 40px;
    border: none;
    text-indent: -9999px;
  }
  .form-item{
    margin: 0 0 10px 0;
  }
}

.wrapper-bottom{
  background-color: $blue;
  overflow: hidden;
  padding: 90px 0;
  @include res(s-m){
    padding: 20px 0;
  }
  .region-bottom{
    @include width;
    width: 1020px;
  }
  p{
    margin: 0;
  }
  .logo-image{
    max-width: 300px;
    height: auto;
    margin: 0 auto
  }
  #block-block-5{
    border-top: 1px solid #fff;
    padding-top: 40px;
    margin-top: 80px;
    color: #fff;
    @include res(s-m){
      padding-top: 20px;
      margin-top: 20px;
    }
    .left{
      float: left;
    }
    .right{
      float: right;
    }
    .left, .right{
      @include res(s-m){
        float: none;
        width: 100%;
        text-align: center;
      }
    }
    a{
      color: #fff;
    }
  }
}
/*****  background image and video  ***********/

.field-name-field-background-image, .views-field-field-background-image,
.field-name-field-background-video-file{
  border: medium none;
  height: 200%;
  left: -50%;
  position: fixed;
  width: 200%;
  z-index: -2;
  img{
    height: auto;
    min-height: 100%;
    min-width: 1024px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
  }
}

.field-name-field-background-video-file{
  top: 0;
  z-index: -1;
}
/********  links at the top  ********/

.region-links{
  width: 100%;
  z-index: 100;
  .block{
    @include width();
    padding: 0;
  }
  p{
    margin: 0;
    a{
      background-color: $yellow;
      font-size: 18px;
      text-transform: uppercase;
      padding: 10px 20px;
      color: #fff;
      display: block;
      letter-spacing: 6px;
      margin: -26px 36px 0 0;
      float: right;
      border-radius: 3px;
      transition: background-color 0.5s;
      -webkit-transition: background-color 0.5s;
      &:hover{
        background-color: #fdd671;
      }
      @include res(s-m){
        margin: -20px 0 0 0;
        font-size: 15px;
        padding: 5px 10px;
      }
    }
  }
}

.scroll .region-links{
  position: fixed;
  right: 0;
  height: 65px;
  top: 0;
  a{
    margin-top: 65px!important;
  }
  @include res(s-m){
    right: 5px;
    a{
      margin-top: 42px!important;
    }
  }
  .block{
    padding: 0 3%;
    @include res(s-m){
      padding: 0;
    }
  }
  a{
    margin-top: 0;
    @include res(s-m){
      margin: 0;
    }
  }
}

/*********  front  **********/

.front{
  .field-name-body{
    padding: 0 90px;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    margin: 50px 0;
    @include res(s-m){
      padding: 0 3%;
      -webkit-column-count: 1; /* Chrome, Safari, Opera */
      -moz-column-count: 1; /* Firefox */
      column-count: 1;
      -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
      -moz-column-gap: 40px; /* Firefox */
      column-gap: 40px;
      margin: 20px 0;
    }
  }
  p{
    margin: 0;
  }
  .field-name-field-hp-image{
    .field-item{
      width: 50%;
      float: left;
    }
  }
  .region-content-bottom{
    padding: 0;
  }
  #page-title{
    padding-top: 80px;
  }
}

#block-views-concerts-view-block, #block-views-concerts-view-block-1{
  padding: 0 16%;
  margin-bottom: 100px;
  overflow: hidden;
  @include res(l){
    padding: 0 3%;
  }
  @include res(s-m){
    padding: 0 3%;
    margin-bottom: 20px;
  }
  h2{
    margin: 20px 0;
    font-size: 20px;
    letter-spacing: 10px;
    text-align: center;
  }
  .views-row-odd{
    float: right;
  }
  .views-row-even{
    float: left;
  }
  .views-row{
    width: 47%;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    @include res(s){
      width: 100%;
    }
    img{
      margin-bottom: -8px;
      border-radius: 3px;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
    }
    &:hover img{
        transform: scale3d(1.1, 1.1, 1);
        -ms-transform: scale3d(1.1, 1.1, 1);
        -webkit-transform: scale3d(1.1, 1.1, 1);
        opacity: 0.9
    }
  }
  .views-field-title{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    border-radius: 3px;
    .month{
      color: #fff;
      font-size: 20px;
      padding-top: 21%;
      line-height: 33px;
      text-transform: uppercase;
      @include res(m){
        padding-top: 7%;
      }
    }
    a{
      height: 100%;
      display: block;
    }
    .day{
      color: $yellow;
      font-size: 36px;
    }
    .hour{
      color: #fff;
      font-size: 15px;
      margin-top: 5px;
    }
    .title{
      color: #fff;
      font-size: 16px;
      margin-top: 4%;
    }
  }
}

#block-views-blog-post-view-block{
  padding: 0 16%;
  margin-bottom: 100px;
  overflow: hidden;
  @include res(l){
    padding: 0 3%;
  }
  @include res(s-m){
    padding: 0 3%;
    margin-bottom: 20px;
  }
  h2{
    margin: 20px 0;
    font-size: 20px;
    letter-spacing: 10px;
    text-align: center;
  }
  .views-row-odd{
    float: right;
  }
  .views-row-even{
    float: left;
  }
  .views-row{
    width: 47%;
    position: relative;
    margin-bottom: 30px;
    @include res(s){
      width: 100%;
    }
    .views-field-field-blog-post-image{
      overflow: hidden;
    }
    img{
      margin-bottom: -8px;
      border-radius: 3px;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
    }
    &:hover img{
        transform: scale3d(1.1, 1.1, 1);
        -ms-transform: scale3d(1.1, 1.1, 1);
        -webkit-transform: scale3d(1.1, 1.1, 1);
        opacity: 0.9
    }
  } 
  .views-field-field-post-date{
    color: $yellow;
    font-size: 14px;
    float: left;
  } 
  .views-field-field-post-date-1{
    color: $yellow;
    font-size: 30px;
    clear: left;
  }
  .views-field-title a{
    color: $default;
    font-size: 16px;
    float: right;
  }
}

/********  surf life page - Blog  ***********/

.page-node-22{
  #page-title{
    display: none;
  }
  article{
    padding: 0;
  }
}

#block-views-blog-post-view-block-1, .view-blog-post-view.view-display-id-page_2{
  .views-exposed-form{
    text-align: center;
    .description{
      display: none;
    }
    a{
      color: $gray;
      &.active, &:hover{
        color: $yellow;
      }
    }
    .views-exposed-widget{
      float: none;
    }
    .bef-select-as-links .form-item .form-item{
      display: inline-block;
      padding: 0 30px;
    }
  }
  .view-content{
    padding-top: 50px;
    .views-field-field-post-date-1{
      float: left;
      width: 9%;
      display: flex;
      align-items: center;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      align-items: center;
      color: $yellow;
      text-transform: uppercase;
      .field-content{
        margin: 0 auto;
      }
      @include res(s-m){
        width: 15%;
      }
      .month{
        font-size: 14px;
        text-align: center;
      }
      .day{
        font-size: 30px;
        text-align: center;
      }
    }
    .views-field-field-blog-post-image{
      float: left;
      width: 37%;
      overflow: hidden;
      @include res(s-m){
        width: 80%;
        float: right;
      }
      img{
        margin-bottom: -8px;
        border-radius: 3px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
      }
      &:hover img{
        transform: scale3d(1.1, 1.1, 1);
        -ms-transform: scale3d(1.1, 1.1, 1);
        -webkit-transform: scale3d(1.1, 1.1, 1);
        opacity: 0.9
      }
    }
    .views-field-nid{
      float: right;
      width: 51%;
      margin-top: 15px;
      @include res(s-m){
        width: 100%;
        border-bottom: 1px solid $yellow;
        padding-bottom: 30px;
      }
      .title a{
        font-size: 24px;
        font-weight: bold;
        color: $yellow;      
        text-transform: uppercase;
      }
      .body{
        font-size: 14px;
        margin-top: 10px;
        line-height: 21px;
        a{
          color: $dark-blue;
          text-decoration: underline;
          margin-left: 5px;
        }
      }
    }
    .views-row{
      overflow: hidden;
      margin-bottom: 80px;
      @include res(s-m){
        margin-bottom:30px;
      }
    }
  }
  .pager{
    margin: 0;
    li{
        margin-right: 20px;
        display: inline-block;
        padding: 0;
        height: 10px;
        width: 10px;
        a{
          font-size: 0;
          width: 10px;
          height: 10px;
          box-sizing: border-box;
          background-color: $yellow;
          border-radius: 50%;
          display: inline-block;
        }
    }
    li.pager-current{
      width: 12px;
      height: 12px;
      background-color: $yellow;
      border-radius: 50%;
      font-size: 0;
    }
    .pager-next, .pager-last, .pager-first, .pager-previous, .pager-ellipsis{
      display: none;
    }
  }
}

/*******  contact page  *******/

.node-type-webform{
  #page-title{
    padding-top: 80px;
  }
  article{
    background-color: $blue;
    color: #fff;
    border-radius: 3px;
    padding: 0;
    .content{
        padding: 0px 8%;
        .address{
          padding-top: 30px;
          font-size: 20px;
          text-transform: uppercase;
          text-align: center;
          letter-spacing: 6px;
        }
        .places{
          width: 680px;
          margin: 70px auto 0;
          max-width: 100%;
          font-size: 20px;
          @include res(s-m){
            margin-top: 20px;
          }
          .number span{
            text-decoration: underline;
          }
          .label{
            text-align: center;
          }
        }
        .left-place{
          float: left;
          @include res(s){
            width: 100%;
            float: none;
            text-align: center;
            margin-bottom: 15px;
          }
        }
        .right-place{
          float: right;
          @include res(s){
            width: 100%;
            float: none;
            text-align: center;
          }
        }
        .emails{
          clear: both;
          text-align: center;
          padding-top: 100px;
          padding-bottom: 90px;
          @include res(s-m){
            padding-top: 20px;
            padding-bottom: 20px;
          }
          a{
            display: inline-block;
            color: #fff;
            border-right: 1px solid #fff;
            line-height: 16px;
            margin-right: 10px;
            padding-right: 10px;
          }
          a:last-child{
            border-right: none;
          }
          @include res(s-m){
            a{
              width: 100%;
              border: none;
            }
          }
        }
    }
    p{
      margin: 0;
    }
  }
  .form-wrapper-contact-us{
    background-color: #fafafa;
    padding: 80px 0 150px;
    margin-top: 30px;
    border-radius: 3px;
    @include res(s-m){
      padding-top: 20px;
    }
    .form{
      width: 670px;
      max-width: 94%;
      padding: 0 3%;
      margin: 0 auto;
    }
    .form-title{
      font-size: 20px;
      text-align: center;
      letter-spacing: 12px;
      text-transform: uppercase;
      margin-bottom: 80px;
      @include res(s-m){
        margin-bottom: 20px;
      }
    }
    label{
      font-weight: normal;
    }
    .webform-component{
      @include res(s-m){
        margin-top: 0;
      }
    }
    .webform-component--first-name{
      float: left;
      width: 46%;
      @include res(s-m){
        width: 100%;
      }
    }
    .webform-component--last-name{
      float: right;
      width: 46%;
      @include res(s-m){
        width: 100%;
      }
    }
    .webform-component-email{
      clear: both;
    }
    input.form-text{
      width: 100%;
      height: 34px;
      border: 1px solid #e1e1e1;
      border-radius: 3px;
      padding:  0 5px;
    }
    textarea{
      border: 1px solid #e1e1e1;
      border-radius: 3px;
      padding:  0 5px;      
    }
    .grippie{
      display: none;
    }
    input.form-submit{
      background-color: $yellow;
      color: #fff;
      text-transform: uppercase;
      font-size: 17px;
      border:none;
      padding: 5px 10px;
      border-radius: 3px;
      @include res(s-m){
        margin-top: 10px;
      }
    }
  }
}
#map-canvas {
  height: 500px;
  width: 100%;
}

/************  post page  ********/

.node-type-blog-post{
  .date-in-parts{
    color: $yellow;
    float: left;
    .month{
      font-size: 14px;
    }
    .day{
      font-size: 30px;
      font-weight: bold;
    }
  }
  .name-title{
    float: left;
    margin-left: 50px;
    @include res(s){
      float: left;
      clear: left;
      margin: 0;
    }
    #page-title{
      margin: 0;
      font-size: 24px;
      color: $yellow;
      letter-spacing: 0;
    }
    .field-name-field-post-type a{
      font-size: 13px;
      color: #9b9b9b;
    }
  }
  .field-name-field-post-tags{
    float: right;
    color: #9b9b9b;
    font-size: 13px;
    margin-top: 37px;
    @include res(s-m){
      clear: left;
      float: left;
      margin: 0;
    }
    a{
      color: #9b9b9b;
    }
    .field-label{
      font-weight: normal;
    }
    .field-item{
      float: left;
      margin-right: 5px;
    }
  }
  .field-name-field-blog-post-image{
    clear: both;
    padding-top: 20px;
  }
  .field-name-body{
    margin-top: 60px;
    p{
      margin-top: 0;
    }
  }
  #share{
    .link{
      float: left;
      margin-right: 14px;
    }
  }
}

#block-views-blog-post-view-block-2{
  border-top: 1px solid #979797;
  padding-top: 30px;
  margin-top: 50px;
  .block-title{
      text-transform: uppercase;
      font-size: 16px;
      margin-bottom: 25px;
  }
  .views-row{
    width: 48%;
    @include res(s){
      width: 100%;
    }
  }
  .views-field-field-blog-post-image{
    overflow: hidden;
    img{
      margin-bottom: -8px;
      border-radius: 3px;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      overflow: hidden;
      &:hover{
          transform: scale3d(1.1, 1.1, 1);
          -ms-transform: scale3d(1.1, 1.1, 1);
          -webkit-transform: scale3d(1.1, 1.1, 1);
          opacity: 0.9
      }
    }
  }
  .views-row-odd{
    float: left;
  }
  .views-row-even{
    float: right;
  }
  .views-field-title a{
    font-size: 24px;
    color: $yellow;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .views-field-field-post-date{
    line-height: 15px;
  }
}

/******  our rooms  *********/

#block-views-rooms-view-block{
  .field-slideshow{
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
  }
  .field-slideshow-controls{
    margin-top: -44px;
    position: relative;
    z-index: 50;
    a{
      background: url("../images/arrows-gallery.png") no-repeat 0 0;
      width: 32px;
      height: 35px;
      text-indent: -9999px;
      display: inline-block;
      float: right;
      &.prev{
        background-position: -32px 0;
      }
    }
  }
  .views-field-title{
    margin-top: 60px;
    color: $yellow;
    font-size: 24px;
    text-transform: uppercase;
  }
  .views-row{
    margin-bottom: 150px;
  }
  .views-field-body{
    ul{
      padding-left: 14px;
    }
  }
}

/********  concert  ********/

.node-type-concert{
  article{
    border-radius: 0 0 3px 3px;
    padding-top: 0;
  }
  #page-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: left;
    color: $yellow;
    letter-spacing: 6px;
  }
  #share{
    margin-top: 10px;
    margin-bottom: 40px;
    width: 100%;
    overflow: hidden;
    .link{
      float: left;
      margin-right: 10px;
    }
  }
  .field-name-field-concert-page-image{
    float: left;
    margin-right: 4%;
    width: 32%;
    @include res(s-m){
      width: 100%;
    }
  }
  .field-name-body{
    width: 64%;
    float: right;
    p{
      margin-top: 0;
    }
    @include res(s-m){
      width: 100%;
    }
  }
  .field-name-field-concert-sample-video{
    width: 100%;
    padding-top: 90px;
    clear: both;
    iframe{
      @include res(s-m){
        height: 300px;
      }
      @include res(l){
        height: 450px;
      }
    }
  }
}

#block-block-7{
  background-color: #fafafa;
  border-radius: 3px 3px 0 0; 
  padding: 70px 8% 50px;
  p{
    margin: 0;
    a{
      color: $yellow;
      background: url("../images/arrow-yellow.png") no-repeat left center;
      padding-left: 32px;
    }
  }
}

/********  wellness & plan your event *********/

#block-bean-wellness-new-block, #block-bean-plan-your-event-block-bean, #block-bean-resturant-block{
  text-align: center;
  .field-name-field-plan-box > .field-items >, .field-name-field-meal > .field-items{
    .field-item{
      @include res(s-m){
        .field-name-field-image{
          margin: 0;
        }
      }
      .field-name-field-image{
        width: 51%;
        @include res(s-m){
          width: 100%;
        }
      }
    }
    .field-item.even{
      .field-name-field-image{
        float: left;
        margin-right: 4%;
      }
    }
    .field-item.odd{
      .field-name-field-image{
        float: right;
        margin-left: 4%;
      }
    }   
  }
  .entity-field-collection-item .content{
      overflow: hidden;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      @include res(s-m){
        display: block;
      }
  }
  .field-item.odd .entity-field-collection-item .content{
      flex-direction: row-reverse;
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction:row-reverse;
  }
  .field-name-field-title-for-block{
    font-size: 20px;
    text-align: center;
  }
  .field-name-field-text-box{
    text-align: center;
    a{
      color: $default;
    }
  }
  .entity-field-collection-item{
    margin-bottom: 80px;
    @include res(s-m){
      margin-bottom: 50px;
    }
  }
}